<span class="madcamp-date"><strong>Saturday, August 17, 2013</strong></span>
<span class="madcamp-time"><strong>10 AM to 7 PM (CT)</strong></span>
<span class="madcamp-location">Engineering Centers Building</span>
<span class="madcamp-address">1550 Engineering Drive</span>
<span class="madcamp-address2">Madison, WI 53706</span>
<span class="madcamp-map-register">
    <a href="https://maps.google.com/maps/preview#!q=1550+Engineering+Drive+Madison%2C+WI+53706">View Map</a>
    &ndash;
    <a href="http://barcampmadison.org/register/">Register</a>
</span>
