<span class="madcamp-date"><strong>Saturday, August 23, 2014</strong></span>
<span class="madcamp-time"><strong>1 PM to 8 PM (CT)</strong></span>
<span class="madcamp-location">Westres Tree Farm</span>
<span class="madcamp-address">4858 Hwy 78</span>
<span class="madcamp-address2">Black Earth, WI 53515</span>
<span class="madcamp-map-register">
    <a href="https://www.google.com/maps/place/4858+Wisconsin+78,+Black+Earth,+WI+53515/@43.120196,-89.749428,17z/data=!3m1!4b1!4m2!3m1!1s0x88079ee8dc02e1c5:0x255de124db9623e">View Map</a>
    &ndash;
    <a href="http://barcampmadison.org/register/">Register</a>
</span>
