<ul class="sponsors">
<li><a href="http://asthmapolis.com/"><img src="/img/sponsors/asthmapolis.png" alt="Asthmapolis" title="Asthmapolis" /></a></li>
<li><a href="http://forwardfest.org/"><img src="/img/sponsors/ftf.jpg" alt="Forward Technology Festival" title="Forward Technology Festival" /></a></li>
<li><a href="http://google.com/"><img src="/img/sponsors/google.png" alt="Google" title="Google" /></a></li>
<li><a href="http://bendyworks.com/"><img src="/img/sponsors/bendyworks.png" alt="Bendyworks" title="Bendyworks" /></a></li>
<li><a href="http://www.networkedinsights.com/"><img src="/img/sponsors/networked-insights.png" alt="Networked Insights" title="Networked Insights" /></a></li>
<li><a href="http://www.broadcast-interactive.com/"><img src="/img/sponsors/bim.png" alt="Broadcast Interactive Media" title="Broadcast Interactive Media" /></a></li>
<li><a href="http://www.satelliteinternetpros.com/"><img src="/img/sponsors/sip.png" alt="Satellite Internet Pros" title="Satellite Internet Pros" /></a></li>
</ul>
